{% extends "base.html" %}
{% block title %}松书{% endblock %}
{% block content %}
    <div id="nav" class="navbar navbar-light">
        <div class="w">
            <div id = 'bookfilter' class="col-6">
                <form id = 'filterform' style="display: flex;padding-bottom: 8px">
                    {% csrf_token %}
                    <input type="search" class="form-control mr-sm-2" name="filtertxt" placeholder="搜索书名或作者...">
                    <button id="searchrack" class="btn  btn-outline-primary" onclick="getRack('filter')">搜索</button>
                    <div style="position: absolute;top: 40px;font-size: 11px">
                        <input type="checkbox" name="option" value="name"  style="margin-left: 10px" checked>搜索书名
                        <input type="checkbox" name="option" value="author" style="margin-left: 15px" checked>搜索作者
                    </div>
                </form>
            </div>
            <div class="col-6" style="display: flex">
            <button class="btn btn-dark col-4"  id = "schoolRack" onclick="schoolRackHandle()">同校书架</button>
            <button class="btn btn-dark col-4"  id = "cityRack" onclick="cityRackHandle()">同城书架</button>
            <button class="btn btn-dark col-4" id = "userCenter" onclick="goCenterHandle()">个人中心</button>
            </div>
            <div id="slide" style="position: absolute;left: -170px;top: 15px;">
                <button class="btn btn-success" style="margin:0 35px;" onclick=slideFriends()>好友列表 <span class="iconfont icon-xiala"></span></button>
                <div id="slideContent" style="border: #9fcdff 2px solid;padding:10px 8px 10px;margin: 5px 0;border-radius: 8px;background-color:darkseagreen;display: none;height: 500px;">
                    <div id="searchFriend" style="font-size: 12px;">
                        <input type="text" placeholder="搜索用户名..." class="form-control" style="display: inline-block;width: 100px;font-size: 15px;">
                        <input type="button" onclick="searchUser()" class="btn btn-outline-success" value="搜索" style="display:inline-block;width: 50px;vertical-align: bottom;">
                        <hr style="margin-bottom: 4px">
                    </div>
                    <ul id="friendsList" >
                        {% for n in friends %}
                        <li data-userid={{n.id}}> <span class="iconfont icon-yonghu"></span>  {{n.name}}</li>
                        {% endfor %}
                    </ul>
                    <div id="searchList"style="display: none;">
                        <span  id="returnTofriend" onclick="backFriend()" class="iconfont icon-fanhui" style="margin-left: 110px;font-size: 13px">返回</span>
                        <p>搜索结果:</p>
                    <ul>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id = "mainContent">
        <div class="w">
            <div id="bookRack" style="display: none">
                <div id="bookbox">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function searchUser() {
            $("#friendsList").css("display","none");
            $("#searchList").css("display","block");
        }
        function backFriend() {
            $("#friendsList").css("display","block");
            $("#searchList").css("display","none");
        }
        function slideFriends() {
            $("#slideContent").slideToggle();
        }
        function schoolRackHandle(){
            getRack('school');
            state=0;
        }
        function cityRackHandle(){
            getRack('city')
            state=1;
        }
        function goCenterHandle(){
            goCenter()
            state=2;
        }
        function InitRack() {
            if(state==0){
                schoolRackHandle()
            }
            else if(state==1){
                cityRackHandle()
            }
            else {
                goCenterHandle()
            }
        }
        InitRack();
        function clearContent() {
            $("#main-content").children().css("display","none")
        }
        function getRack(type){
            clearContent()
            $("#bookRack").css("display","inline-block")
            racktype = type
            $.ajax({
                url:"{% url 'getrack'%}"
                ,type:racktype == 'filter' ? "post":"get"
                ,datatype:"JSON"
                ,data:racktype == 'filter' ? $('#filterform').serialize():{"racktype":racktype}
                ,success:function(data){
                        renderRack(data.books);
                        }
            })}
        buildHTML = function(tag, html, attrs) {
            // you can skip html param
            if (typeof (html) != 'string') {
                attrs = html;
                html = null;
            }
            var h = '<' + tag;
            for (attr in attrs) {
                if (attrs[attr] === false) continue;
                h += ' ' + attr + '="' + attrs[attr] + '"';
            }
            return h += html ? ">" + html + "</" + tag + ">" : "/>";
        };
        function renderRack(books){
                /*这个函数取得一个存有书的id,书名，作者的字典，格式为{id:{name:name,author:author}}
                然后将书架渲染到id=bookbox的div中
                渲染格式为div#bookbox>(div#id>span+span)*n
                两个span分别存放书名和作者，div的id就是书的id
                再给这些元素添加onclick事件，点击打开一个layer用于展示这本书的详细信息*/
            $("#bookbox").empty()
            for(var book in books){
                var ele = $("<div class='books card' data-bookid="+book+"></div>")
                var name = $(buildHTML("p",books[book].name,{
                        "class": "name-rack"
                 }));
                var author = $(buildHTML("p",books[book].author,{
                        "class": "author-rack"
                 }));
                var cover = $(buildHTML("img",{
                    "src":"/static/covers/"+books[book].cover,
                    "class": "covers-rack card-img-top"
                 }))
                ele.append(cover);
                ele.append(name);
                ele.append(author);

                ele.click(
                    (function(id){
                    var bookid=id;
                    return function(){
                        showBookLayer(bookid)
                    }
                })(book));
                $("#bookbox").append(ele);
            }
        }
        function showBookLayer(id){
            $.ajax({
                url:'{% url "showbook" %}'
                ,type:'get'
                ,datatype:'JSON'
                ,data:{'id':id}
                ,success:function (book) {
                    var booklayer = "<div id=\"booklayer\">\n" +
                        "<div id=\"title\"><p>"+book.name+"</p></div>\n" +
                        "<div id=\"author\"><p>"+book.author+"</p></div>\n" +
                        "<div id=\"press\"><p>"+book.press+"</p></div>\n" +
                        "<div id=\"cover\"><label>封面</label>" +
                        "<img style='width: 30%;height: 30%;' " +
                        "src=\"/static/covers/"+book.cover+"\"alt=\"#\"></div>\n" +
                        "<div id=\"intro\"><label>简介</label><p>"+book.intro+"</p></div>\n" +
                        "<div id=\"owner\"><label>持有人</label><p>"+book.owner+"</p></div>\n" +
                        "<div id=\"position\"><label>所在地</label><p>"+book.city+"  "+book.school+"</p></div>\n" +
                        "</div>"
                    parent.layer.open(
                        {
                            type:1,
                            content:booklayer,
                            area: ['500px', '600px']
                        }
                    )

                }
            })
        }
        function goCenter() {
            clearContent()
            $("#userMenu").css("display","block")
        }
    </script>
{% endblock %}